.chat-message {
  display: flex;
  align-items: flex-start; /* 상단 정렬 */
  margin-bottom: 15px;
  max-width: 70%;
  animation: fadeIn 0.3s ease;
}

.profile-container {
  display: flex;
  align-items: flex-start;
}

.bot {
  align-self: flex-start;
  flex-direction: row; /* 기존 유지 */
  align-items: flex-start; /* 프로필 이미지를 상단 정렬 */
}

.user {
  align-self: flex-end;
  flex-direction: row-reverse;
  align-items: flex-end; /* 유저 메시지 상단 정렬 */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ccc;
  align-self: flex-start; /* 이미지 상단 정렬 */
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 1em;
  line-height: 1.4;
  white-space: pre-wrap;
  max-width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e4ded4; /* 기본 배경 */
  color: #333;
  border-top-left-radius: 0;
}

.message-bubble:hover {
  transform: scale(1.05);
}

.user .message-bubble {
  background-color: #8e705d; /* 유저 메시지 배경 */
  color: white;
  border-top-right-radius: 0; /* 기존 유지 */
  border-top-left-radius: 15px; /* 좌측 상단 둥글게 */
}

.bot .message-bubble {
  background-color: #e4ded4;
  color: #333;
  border-top-left-radius: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
