.welcome-header {
  text-align: center;
  margin-bottom: 3vh;
}

.app-title {
  font-size: 4vw;
  font-weight: bold;
  color: #3b3a30;
  margin: 0;
  margin-top: 5vh;
}

.app-subtitle {
  font-size: 2vw;
  color: #3b3a30;
  margin-top: 2vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}

.app-logo {
  width: 12vw;
  height: auto;
  border-radius: 10%;
}

.start-button {
  width: 40%;
  height: auto;
  padding: 1vh 2vw;
  background-color: #a38671;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 4vh auto 0 auto;
  display: block;
  text-align: center;
}

.start-button:hover {
  background-color: #8e705d;
}

.welcome-footer {
  font-size: 1.2vw;
  color: #777;
  text-align: center;
  padding: 1.5vh 2vw;
  margin-top: 3vh;
}
